
<div class="container">
  <div class="row justify-content-center">
   <img src="../../../assets/dashboard-home/real logo.png" class="w-75 logo"> 
</div>
<div class="row justify-content-end">
    <div id="sidebar">
       
        <ul class="nav d-flex flex-column align-items-end align-content-end">
          <li>
            <a href="#">
              <i class="fa-solid fa-grip"></i> القائمة الرئيسية 
            </a>
          </li>
          <li >
            <a href="#">
              <i class="zmdi zmdi-link"></i> المحطات
            </a>
          </li>
          <li >
            <a href="#">
              <i class="zmdi zmdi-widgets"></i> الأجهزة 
            </a>
          </li>
          <li >
            <a href="#">
              <i class="zmdi zmdi-calendar"></i> الإسطوانات
            </a>
          </li>
          <li >
            <a href="#">
              <i class="zmdi zmdi-info-outline"></i> الأكسسوارات
            </a>
          </li>
          <li >
            <a href="#">
              <i class="zmdi zmdi-settings"></i> الموظفون
            </a>
          </li>
          <li >
            <a href="#">
              <i class="zmdi zmdi-comment-more"></i> العمال
            </a>
          </li>
          <li >
            <a href="#">
              <i class="zmdi zmdi-comment-more"></i> المعاملات
            </a>
          </li>
          <li >
            <a href="#">
              <i class="zmdi zmdi-comment-more"></i> الصلاحيات
            </a>
          </li>
          <li >
            <a href="#">
              <i class="zmdi zmdi-comment-more"></i> التقارير
            </a>
          </li>
        </ul>
      </div>
</div>  
</div>
